html, body { 
  margin:0;
  /* 
  padding: 0;
  width:100%;
  height:100%;
  overflow: auto; 
  */
  background-color: rgb(241, 239, 239);
  font-family: 'Exo 2', sans-serif;
  }

/* Start of heading */

#menu-nav {
  display: grid;
  background-color: rgb(25, 23, 23);
  grid-template-rows: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(241, 239, 239);
  text-decoration: none;
}

div.second-heading {
  background-color: rgb(49, 49, 49);
  padding: 10px 0px 20px 0px;
}
/* Inside second heading */

/* .ul-summary {
  list-style: circle;
  margin-bottom: 20px;
  color: rgb(241, 239, 239);
} */
/* 
li {
  line-height: 30px;
} */
/* Glitch photo Piotr Galor */
.glitch {
  animation: glitch 1s linear infinite;
  display: grid;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

h1:before,
h1:after{
  content: attr(title);
  position: absolute;
  left: 0;
  right: 0;
  color: rgb(25, 23, 23);
}

h1:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

h2:before,
h2:after{
  content: attr(title);
  position: absolute;
  left: 0;
  right: 0;
  color: rgb(25, 23, 23);
}

h1:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

h2:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}


@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

h1:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 100%, 0 100%);
}

h2:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

img {
  margin: 10px auto 10px auto;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  image-rendering: pixelated;
}

/* Photo glitch end */
.summary-box {
  text-align: center;
  color: rgb(241, 239, 239);
}

h1 {
  margin: 10px 0px 10px 0px;
  color: rgb(241, 239, 239);
  text-align: center;
}

.summary-p {
 font-size: x-large;
 margin: 10px 0px 10px 0px;
}

/* End of Second Heading */
/* End of heading */
/* Body start */
#body-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(9, auto);
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  margin: 10px 10px 10px 10px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 25px 0px 25px 0px;
}

.big-job-screen-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
}

.job-container {
  display: grid;
  grid-template-rows: repeat(8, auto);
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto;
  background-color: rgb(25, 23, 23);
  box-shadow: 0 2px 5px rgb(202, 62, 71);
  border-radius: 7px;
  margin: 10px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
}

.details {
  color: rgb(237, 237, 237);
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  font-size: larger;
}


.employer, .dates, .work-place, .role {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: rgb(202, 62, 71);
}

/* End of job card */
/* Body end */
/* Body container two */

.body-container-two {
  background-color: rgb(49, 49, 49);
  padding: 10px 0px 30px 0px;
}

p {
  color: rgb(241, 239, 239);
  text-align: center;
}

.second {
  color: rgb(241, 239, 239);
}

.school {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr;
  text-align: center;
}

.hobby {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  font-size: larger;
  color: rgb(202, 62, 71);
}

.detail-whole {
  background-color: rgb(25, 23, 23);
  margin: 20px auto 0px auto;
  width: 270px;  
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(202, 62, 71);
}

#detail-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  color: rgb(241, 239, 239);
  background-color: rgb(65, 65, 65);
  padding: 10px 10px 10px 10px;
  box-shadow: 0 2px 5px rgb(202, 62, 71);
  border-radius: 5px;
  width: 250px;  
  text-align: center;
}

.detail-item {
  padding: 0px 10px 20px 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 23, 23);
  padding: 10px 0px 10px 0px;
}

@media screen and (max-width: 480px) {
  .big-job-screen-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
  }

  .details {
    font-size: medium;
  }

  .employer, .dates, .work-place, .role {
    font-size: small;
  }
}